body{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 95%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weatherForm{
    margin: 20px;
}
.cityInput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid hsla(0, 0%, 20%, 0.3);
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}
button[type="submit"]{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: hsl(122, 39%, 50%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover{
    background-color: hsl(122, 39%, 40%);
}
.card{
    background: rgba(255, 255, 255, 0.258);    
    padding: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin-top: 0;
    margin-bottom: 25px;
}
p{
    font-size: 1.5rem;
    margin: 5px 0;
}
.cityDisplay, .tempDisplay{
    font-size: 3.5rem;
    font-weight: normal;
    color: #3e3d42;
    margin-bottom: 25px;
    font-family: "Gill Sans", sans-serif;
}
.humidityDisplay{
    font-weight: normal;
    font-family: "Gill Sans", sans-serif;
    margin-bottom: 25px;
    color: #3e3d42
}
.descDisplay{
    font-style: italic;
    font-weight: normal;
    font-family: "Gill Sans", sans-serif;
    font-size: 1.6rem;
    color: #3e3d42
}
.weatherEmoji{
    margin: 0;
    font-size: 7.5rem;
    color-scheme: light;
}
.errorDisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color: hsla(0, 83%, 55%, 0.75);
}
