name: Weather App Workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  checkout-repo:
    runs-on: 
      - self-hosted
      - label-1

    steps:
    - 
      name: Checkout repo
      uses: actions/checkout@v4

    


  testing:
    runs-on: 
      - self-hosted
      - label-1
    needs: checkout-repo
    steps:

    - 
      name: Set Environment Variables
      run: |
        echo "NODE_ENV=test" >> $GITHUB_ENV
    - 
      name: Setup Node.js environment
      uses: actions/setup-node@v3
      with:
        node-version: 20

    - name: Install base dependencies
      run: npm ci


    - name: Install testing dependencies
      run: |
        npm install --save-dev sinon node-fetch chai mocha jsdom chai-http jsdom-global

    - name: Run Unit Tests
      run: |
        mkdir -p tests
        npx mocha test/server.test.js --reporter spec > tests/server-test.log
      env:
        API_KEY: ${{ secrets.API_KEY }}

    - name: Upload Test Results Artifact
      uses: actions/upload-artifact@v3
      with:
        name: tests
        path: tests/

  docker-build:
    runs-on: 
      - self-hosted
      - label-1

    needs: testing

    steps:
    - 
      name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USER}}
        password: ${{ secrets.DOCKER_ACCESS_TOKEN }}
        logout: false

    - 
      name: Set Dynamic Tag
      run: echo "IMAGE_TAG=${{ secrets.DOCKER_USER }}/weather-app-1:${{ github.sha }}" >> $GITHUB_ENV


    - 
      name: Build Docker image
      run: |
        export DOCKER_BUILDKIT=1
        docker build -t $IMAGE_TAG .
    

  docker-run:
    runs-on: 
      - self-hosted
      - label-1

    needs: docker-build
    steps:
    -
      name: Run docker container
      run: |
        docker run -d -e API_KEY=${{ secrets.API_KEY }} -p 3000:3000 -p 8080:8080 --name weather-app $IMAGE_TAG
  
  docker-push:
    runs-on: 
      - self-hosted
      - label-1

    needs: docker-run
    steps:
    -
      name: Push Docker Image
      run: |
        docker push $IMAGE_TAG